### Imports

In [69]:
import pandas as pd
import plotly.express as px
pd.options.display.float_format = "{:,.2f}".format

### Read, explore and analyze data

In [2]:
df = pd.read_csv('Data/GeneralEsportData.csv', encoding='cp1252')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558 entries, 0 to 557
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Game              558 non-null    object
 1   ReleaseDate       558 non-null    int64
 2   Genre             558 non-null    object
 3   TotalEarnings     558 non-null    float64
 4   OnlineEarnings    558 non-null    float64
 5   TotalPlayers      558 non-null    int64
 6   TotalTournaments  558 non-null    int64
dtypes: float64(2), int64(3), object(2)
memory usage: 30.6+ KB

In [3]:
df = df.sort_values('ReleaseDate')
df.tail()

,Game,ReleaseDate,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments
304,Rushdown Revolt,2021,Fighting Game,"4,160.09",0.00,31,18
497,Rocket League Sideswipe,2021,Sports,"2,500.00",0.00,1,1
275,Melty Blood: Type Lumina,2021,Fighting Game,"2,004.59","2,004.59",8,1
380,F1 2021,2021,Racing,"750,339.00",0.00,25,2
243,Guilty Gear -STRIVE-,2021,Fighting Game,"93,490.89","42,497.57",124,34

#### Handle long name problems

In [4]:
df['Game'] = df['Game'].replace(['Counter-Strike: Global Offensive'],'CS:GO')
df['Game'] = df['Game'].replace(['PLAYERUNKNOWNâ€™S BATTLEGROUNDS'],'PUBG')
df['Game'] = df['Game'].replace(['PLAYERUNKNOWN’S BATTLEGROUNDS'],'PUBG')
df['Game'] = df['Game'].replace(["PLAYERUNKNOWN'S BATTLEGROUNDS Mobile"],'PUBG Mobile')
df['Game'] = df['Game'].replace(["Super Smash Bros."],'S S Bros')
df['Game'] = df['Game'].replace(["Quake III Arena"],'Quake III')
df['Game'] = df['Game'].replace(["Age of Empires II"],'AoEs II')
df['Game'] = df['Game'].replace(["StarCraft: Brood War"],'StarCraft')
df['Game'] = df['Game'].replace(["StarCraft: Brood War"],'StarCraft')
df['Game'] = df['Game'].replace(["Super Smash Bros. Melee"],'S S Bros Melee')
df['Game'] = df['Game'].replace(["World of WarCraft"],'WoWCraft')
df['Game'] = df['Game'].replace(["Counter Strike: Source"],'CS:Source')
df['Game'] = df['Game'].replace(["Heroes of the Storm"],'Heros of Storm')
df['Game'] = df['Game'].replace(["Rainbow Six Siege"],'RSS')

### Questions to Ask:

All Plots have filter with release date in top of page

1- What is the total earnings vs online earnings per genre - filter (genre, release date).

2- What is the most popular genres? Genres with Highest number of players and tourmnets.

3- What is the Top 5 Games most popular filter all things - Horizontal Bar.

4- What is the Top 10 Games with Highest Total Earnings vs Online - filter (genre, release date).

### Prepare data for ploting

##### a) Genres dataframe

In [25]:

# Genres Dataframe for questions 1 and 2
total_earnings_genre      = df.groupby('Genre')['TotalEarnings'].sum()
online_earnings_genre     = df.groupby('Genre')['OnlineEarnings'].sum()
total_players_genre       = df.groupby('Genre')['TotalPlayers'].sum()
total_tourments_genre     = df.groupby('Genre')['TotalTournaments'].sum()
avg_player_tourment_genre = (total_players_genre / total_tourments_genre)

# Create new pandas dataframe for genres
df_genres = pd.concat([total_earnings_genre,
                       online_earnings_genre,
                       total_players_genre,
                       total_tourments_genre,
                       avg_player_tourment_genre], axis=1)

df_genres = df_genres.reset_index()

# Rename the wanted columns 
df_genres.rename(columns = {0:'AvgPlayerTourment'}, inplace = True)

# Sort by TotalEarnings
df_genres = df_genres.sort_values('TotalEarnings', ascending=False)

# df2 = pd.DataFrame({'Genre': ['Others'],
#                     'TotalEarnings' : ['Ram'],
#                     'Country' : ['India']})

# df_genres = pd.concat([df_genres, df2], ignore_index = True, axis = 0)


df_genres

,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments,AvgPlayerTourment
4,Multiplayer Online Battle Arena,"445,974,616.58","400,193,902.13",17291,5539,3.12
3,First-Person Shooter,"296,969,619.31","198,146,790.85",44506,13348,3.33
0,Battle Royale,"202,033,493.53","103,289,199.76",12450,1686,7.38
9,Strategy,"77,578,197.17","56,395,996.02",9295,10940,0.85
1,Collectible Card Game,"41,612,491.03","28,992,624.44",4425,1618,2.73
8,Sports,"38,104,396.39","21,228,187.71",4689,3115,1.51
2,Fighting Game,"23,803,414.90","21,201,430.21",14108,10069,1.40
6,Racing,"11,986,671.93","5,911,486.62",3843,1330,2.89
7,Role-Playing Game,"8,411,452.83","5,927,244.43",820,255,3.22
10,Third-Person Shooter,"5,512,086.38","4,296,751.38",474,98,4.84
5,Puzzle Game,"72,776.89","38,701.85",216,89,2.43

In [39]:
others_total_earnings = total_earnings_genre.sort_values(ascending=False)[5:].sum()
others_online_earnings = online_earnings_genre.sort_values(ascending=False)[5:].sum()
others_total_players = total_players_genre.sort_values(ascending=False)[5:].sum()
others_total_tourments = total_tourments_genre.sort_values(ascending=False)[5:].sum()
others_avg_player_tourment = avg_player_tourment_genre.sort_values(ascending=False)[5:].sum()

df2 = pd.DataFrame({'Genre': ['Others'],
                    'TotalEarnings' : [others_total_earnings],
                    'OnlineEarnings' : [others_online_earnings],
                    'TotalPlayers': [others_total_players],
                    'TotalTournaments': [others_total_tourments],
                    'AvgPlayerTourment': [others_avg_player_tourment],
                   })

df_genres = pd.concat([df_genres, df2], ignore_index = True, axis = 0)

df_genres

,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments,AvgPlayerTourment
0,Multiplayer Online Battle Arena,"445,974,616.58","400,193,902.13",17291,5539,3.12
1,First-Person Shooter,"296,969,619.31","198,146,790.85",44506,13348,3.33
2,Battle Royale,"202,033,493.53","103,289,199.76",12450,1686,7.38
3,Strategy,"77,578,197.17","56,395,996.02",9295,10940,0.85
4,Collectible Card Game,"41,612,491.03","28,992,624.44",4425,1618,2.73
5,Sports,"38,104,396.39","21,228,187.71",4689,3115,1.51
6,Fighting Game,"23,803,414.90","21,201,430.21",14108,10069,1.40
7,Racing,"11,986,671.93","5,911,486.62",3843,1330,2.89
8,Role-Playing Game,"8,411,452.83","5,927,244.43",820,255,3.22
9,Third-Person Shooter,"5,512,086.38","4,296,751.38",474,98,4.84
10,Puzzle Game,"72,776.89","38,701.85",216,89,2.43
11,Other Genres,"87,890,799.32","58,603,802.20",14467,5076,11.81
12,Others,"87,890,799.32","58,603,802.20",14467,5076,11.81

In [43]:
# Drop rows
df_genres= df_genres.drop([5, 6, 7, 8, 9, 10, 11])

In [44]:
# Sort by TotalEarnings
df_genres = df_genres.sort_values('TotalEarnings', ascending=False)
df_genres

,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments,AvgPlayerTourment
0,Multiplayer Online Battle Arena,"445,974,616.58","400,193,902.13",17291,5539,3.12
1,First-Person Shooter,"296,969,619.31","198,146,790.85",44506,13348,3.33
2,Battle Royale,"202,033,493.53","103,289,199.76",12450,1686,7.38
12,Others,"87,890,799.32","58,603,802.20",14467,5076,11.81
3,Strategy,"77,578,197.17","56,395,996.02",9295,10940,0.85
4,Collectible Card Game,"41,612,491.03","28,992,624.44",4425,1618,2.73

#### b) Games dataframe

In [70]:
# Games Dataframe for questions 3 and 4 - Add 
release_date             = df.groupby('Game')['ReleaseDate'].sum()
game_genre               = df.groupby('Game')['Genre'].sum()
total_earnings_game      = df.groupby('Game')['TotalEarnings'].sum()
online_earnings_game     = df.groupby('Game')['OnlineEarnings'].sum()
total_players_game       = df.groupby('Game')['TotalPlayers'].sum()
total_tourments_game     = df.groupby('Game')['TotalTournaments'].sum()
avg_player_tourment_game = (total_players_game / total_tourments_game)
avg_earnings_player_game = (total_earnings_game / total_players_game)
avg_earnings_tournm_game = (total_earnings_game / total_tourments_game)

# print(game_genre.head(20))

# Create new pandas dataframe for games
df_games = pd.concat([release_date,
                      game_genre,
                      total_earnings_game,
                      online_earnings_game,
                      total_players_game,
                      total_tourments_game,
                      avg_player_tourment_game,
                      avg_earnings_player_game,
                      avg_earnings_tournm_game], axis=1)

df_games = df_games.reset_index()

# Rename the wanted columns 
df_games.rename(columns = {0:'AvgPlayerTourment',
                            1:'AvgEarningsPlayer',
                            2:'AvgEarningsTourment'}, inplace = True)

# Sort by TotalEarnings
df_games = df_games.sort_values('TotalEarnings', ascending=False)

# Drop null and inf valeus
df_games.drop(df_games[df_games['TotalPlayers'] == 0].index, inplace = True)

df_games.head(10)

,Game,ReleaseDate,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments,AvgPlayerTourment,AvgEarningsPlayer,AvgEarningsTourment
122,Dota 2,2013,Multiplayer Online Battle Arena,"279,153,000.65","255,582,820.83",4180,1590,2.63,"66,783.01","175,567.92"
56,CS:GO,2012,First-Person Shooter,"129,352,068.91","83,502,772.76",14708,6081,2.42,"8,794.67","21,271.51"
171,Fortnite,2017,Battle Royale,"111,339,316.05","42,203,537.61",4931,750,6.57,"22,579.46","148,452.42"
255,LOL,2009,Multiplayer Online Battle Arena,"90,041,272.98","79,598,951.30",8018,2665,3.01,"11,229.89","33,786.59"
334,PUBG,2017,Battle Royale,"42,981,357.41","32,396,915.20",3052,388,7.87,"14,083.01","110,776.69"
18,Arena of Valor,2015,Multiplayer Online Battle Arena,"41,290,753.03","37,745,368.92",812,73,11.12,"50,850.68","565,626.75"
451,StarCraft II,2010,Strategy,"36,249,504.04","29,428,638.63",2115,6283,0.34,"17,139.25","5,769.46"
333,Overwatch,2016,First-Person Shooter,"32,213,162.28","18,615,744.45",3617,765,4.73,"8,906.04","42,108.71"
335,PUBG Mobile,2017,Battle Royale,"31,118,651.32","21,013,703.97",1814,74,24.51,"17,154.71","420,522.32"
223,Hearthstone,2014,Collectible Card Game,"26,689,371.78","18,495,720.37",2665,948,2.81,"10,014.77","28,153.35"

#### c) Games - filter by genre and release date "Main Plot"

In [71]:
print("Number of rows before deletion: " + str(df_games.shape[0]))
df_games.drop(df_games[df_games['TotalEarnings'] == 0.00].index, inplace = True)
print("Number of rows after deletion: " + str(df_games.shape[0]))

Number of rows before deletion: 502
Number of rows after deletion: 491

#### Save new dataframes

In [75]:
df_games["Genre"].unique()

array(['Multiplayer Online Battle Arena', 'First-Person Shooter',
       'Battle Royale', 'Strategy', 'Collectible Card Game', 'Sports',
       'Role-Playing Game', 'Fighting Game', 'Third-Person Shooter',
       'Racing', 'First-Person ShooterFirst-Person Shooter',
       'Puzzle Game'], dtype=object)

In [78]:
for i in df_games["Genre"]:
    if i == 'First-Person ShooterFirst-Person Shooter':
        print(i)

In [77]:
df_games.drop(df_games.index[df_games['Genre'] == 'First-Person ShooterFirst-Person Shooter'], inplace=True)

In [79]:
df_genres.to_csv('Genres.csv', index = False)
df_games.to_csv('Games.csv', index = False)

In [73]:
df_genres.head(6)

,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments,AvgPlayerTourment
0,Multiplayer Online Battle Arena,"445,974,616.58","400,193,902.13",17291,5539,3.12
1,First-Person Shooter,"296,969,619.31","198,146,790.85",44506,13348,3.33
2,Battle Royale,"202,033,493.53","103,289,199.76",12450,1686,7.38
12,Others,"87,890,799.32","58,603,802.20",14467,5076,11.81
3,Strategy,"77,578,197.17","56,395,996.02",9295,10940,0.85
4,Collectible Card Game,"41,612,491.03","28,992,624.44",4425,1618,2.73

In [74]:
df_games.head()

,Game,ReleaseDate,Genre,TotalEarnings,OnlineEarnings,TotalPlayers,TotalTournaments,AvgPlayerTourment,AvgEarningsPlayer,AvgEarningsTourment
122,Dota 2,2013,Multiplayer Online Battle Arena,"279,153,000.65","255,582,820.83",4180,1590,2.63,"66,783.01","175,567.92"
56,CS:GO,2012,First-Person Shooter,"129,352,068.91","83,502,772.76",14708,6081,2.42,"8,794.67","21,271.51"
171,Fortnite,2017,Battle Royale,"111,339,316.05","42,203,537.61",4931,750,6.57,"22,579.46","148,452.42"
255,LOL,2009,Multiplayer Online Battle Arena,"90,041,272.98","79,598,951.30",8018,2665,3.01,"11,229.89","33,786.59"
334,PUBG,2017,Battle Royale,"42,981,357.41","32,396,915.20",3052,388,7.87,"14,083.01","110,776.69"